/* Color Palette
# - color e5383b
# - color 2 b1a7a6
# - color 3
# - color 4
*/

/* Global styles 
------------------------------------*/
body {
    /*background: lightblue;*/
  background: #f08080;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5% 2.5% 0;
  line-height: 1.8;
  
}

html{
  background:#eff7f6;
}

.content-wrap{
  width: 950px; 
  margin: 0 auto;
}


/* Header & Footer 
------------------------------------*/

h1{
  font-size:2.2em
}

h2{
  
  
}

h1, h2, h3, h4{
font-family: 'Noto Sans Mono', monospace;
}
p{
  font-family: 'Noto Sans Mono', monospace;
  font-size: 100%
}

.flowLeft {
  float: left;
  margin-right: 20px;
}

.flowRight {
  float: right;
  margin-left: 10px;



/* Work Experience
------------------------------------*/



/* Education
------------------------------------*/